<form class="form" action="<%= gifts_path %>" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" placeholder="pillow"><br>

  <label for="price">Price: </label>
  <input type="text" name="price" placeholder="$20.00"><br>

  <label for="website">Site: </label>
  <input type="text" name="website"><br>

  <input class="btn btn-primary" type="submit">
</form>


