html, body {
  height: 100%;
}

body {
  background-color: #eee;
  background-image: url('regbkg.jpg');
  background-size: cover;
  color: #5768BB;
  font-family: 'Gabriela';
}

p{
  text-align: center;
  font-size: 14px;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 12px;
}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 6em;
  text-align: center;
  padding: 50px 0 20px;
}

table {
  font-size: 1.2em;
}

.bordered {
  width:90%;
  margin:0 auto;
  padding: 3.5px 7px 0px;
  border: 1px #5768BB solid;
  border-radius: 20px;
}

a{
  color: #5768BB;
}

a:hover{
  color:#ccc;
  text-decoration: none;
}

table>tbody>tr{
 border-top: 5px solid #ddd;
}

tr{
  background-color:white;
}

input {
  margin-bottom: 22px;
}

.hide-me{
  color:#ccc;
}

#push, #footer {
  height: 40px;
  text-align: right;
}


